data
models
.ipynb_checkpoints
bottlenecks
inception_cifar10_100_bottleneck_features_train.p
inception_cifar10_bottleneck_features_validation.p
inception_traffic_100_bottleneck_features_train.p
inception_traffic_bottleneck_features_validation.p
resnet_cifar10_100_bottleneck_features_train.p
resnet_cifar10_bottleneck_features_validation.p
resnet_traffic_100_bottleneck_features_train.p
resnet_traffic_bottleneck_features_validation.p
vgg_cifar10_100_bottleneck_features_train.p
vgg_cifar10_bottleneck_features_validation.p
vgg_traffic_100_bottleneck_features_train.p
vgg_traffic_bottleneck_features_validation.p
